body {
    margin: 0px;
}


/* Стили для navbar*/

#navbar{
    float: left;
    width: 195px;
    height: 100vh;
    margin: 0;
    padding: 0;
    border-right: 3px solid #000000;
    background-color: #000000;
}

.logo-header {
    margin-top: 21px;
}

.logo {
    width: 40%;
    float: left;
    margin-right: 20px;
    margin-left: 5px;
}

.header {
    font-size: 132%;
    color: #ffffff;
    font-weight: bold;
}

.navigation h3 {
    margin-top: 75px;
    margin-bottom: 10px;
    font-size: 26px;
    text-align: center;
    color: oldlace;
}

.navigation ul {
    font-size: 19px;
    text-align: center;
    list-style-type: none;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 0;
    line-height: 34px;
}

.navigation li{
    color: coral;
    transition: transform .6s ease;
}

.navigation a{
    text-decoration: none;
}

.navigation ul li:hover, .navigation ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

.fa-solid, .fas {
    font-weight: 900;
    margin-right: 5%;
    font-size: 15px;
    color: floralwhite;
}

li.authorization {
    font-size: 13px;
    margin-top: 10px;
    transition: transform .3s ease;
}

li.authorization a:hover {
    color: #3f3ff6;
}

.authorization a {
    color: lightgrey;
}


/* стили для index.html */

.title{
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    font-family: fangsong;
    letter-spacing: -12px;
}

.redirect{
    text-decoration: none;
    color: unset;
    transition: transform .6s ease;
}

.redirect:hover{transform: scale(1.02);}

.card{
    display: flex;
    flex-wrap: wrap;
}

.card-body{
    position: relative;
    width: 312px;
    height: 400px;
    display: flex;
    border-radius: 23px;
    padding: 15px;
    margin: 10px;
    flex-direction: column;
    background: #d5d5d5;
    transition: transform .6s ease;
}

.card-body:hover{transform: scale(1.02);}

.card-img {
    display: block;
    height: 200px;
    width: -webkit-fill-available;
    border-radius: 23px;
}

.context{
    font-size: 24px;
    line-height: 28px;
}

.context:hover{color: red;}

.source-time{
    position: absolute;
    bottom: 0;
    font-size: 14px;
    display: inline-block;
    width: 163px;
    margin: 10px;
    margin-left: 0px;
    color: #867575;
}

.btn-continue{
    position: absolute;
    display: inline-block;
    bottom: 0;
    right: 11px;
    margin-bottom: 10px;
    margin-right: 3px;
    padding: 6px;
    border-radius: 10px;
    background-color: #4d94de;
    color: #ffffff;
    font-size: 16px;
}

.card-login{
    font-size: 13px;
}

.btn-continue {transition: transform cubic-bezier(0.55, 0.09, 0.68, 0.53);}
.btn-continue:hover {transform: scale(1.03);}

main{
    display: flow-root;
    background: #727272;
    padding-left: 50px;
}


/* стили для news_detail.html */

.main {
    background-color: #d5d5d5;
    padding: 15px;
    border-radius: 23px;
    margin: 25px 15% 25px 10%
}

.title-detail{
    margin-top: 22px;
    font-size: 27px;
    text-align: center;
}

.content {
    display: inline-flex;
    width: 100%;
}

.photo-detail {
    display: inline-flex;
}

.photo-detail-img {
    width: 95%;
    border: 4px solid #77777782;
    border-radius: 30px;
    height: 270px;
}

.content-text {
    margin-right: 5%;
    width: 60%;
    display: inline-block;
}

.news-line{
    margin-bottom: 30px;
    font-size: larger;
    text-indent: 30px;
}

h4.news-line {
    text-indent: 0px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    transition: transform cubic-bezier(0.55, 0.09, 0.68, 0.53);
}

.news-line:hover {transform: scale(1.01);}

.news-line a {
    text-decoration: none;
}


/* стили для about.html */

.ab-content{
    padding-top: 56px;
    line-height: 20px;
    font-size: 19px;
    text-align: center;
    height: 250px;
    color: #ffc28e;
}