{% extends 'news/layout.html' %}

{% block title %}Страница обо мне{% endblock %}

{% block content %}
    <div class="title"><h1 class="title-text">Страница обо мне</h1></div>
    <div class="ab-content">
        <p class="ab-text">На этой странице хотел выразить свои слова благодарности за опыт и за материал который вы нам давали</p>
        <p class="ab-text">Спасибо что дали возможность предомострировать свои навыки которому научился</p>
        <p class="ab-text">Благодаря чему я понял что есть много того чего не знаю и какие большие возможности есть у Django</p>
    </div>
{% endblock %}