{% extends 'news/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="title"><h1 class="title-text">НОВОСТИ</h1></div>
    <div class="card">
    {% for el in news %}
        {% if el.status %}

            <div class="card-body">
                <a class="redirect" href="{% url 'news_detail' el.id %}">
                    <img class="card-img" src="{{ el.photo_url }}" width="366" height="183" alt="Фото">
                    <h2 class="context">{{ el }}</h2>
                </a>
                    <span class="source-time">{{el.avtor }}, {{ el.created }}</span>
                <a href="{% url 'news_detail' el.id %}"><span class="btn-continue">Подробнее</span></a>
            </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}