{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'news/css/main.css' %}">
    <script src="https://kit.fontawesome.com/7b396f5308.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav id="navbar">
        <a href="{% url 'main' %}" style="text-decoration: none;">
            <div class="logo-header">
                <img class="logo" src="{% static 'news/img/it-code-logo.png' %}" alt="Логотип IT-Code">
                <span class="header">Ilyas Aminev</span>
            </div>
        </a>
        <div class="navigation">
            <h3>Навигация</h3>
            <ul>
                <a href="{% url 'main' %}"><li><i class="fa-solid fa-house"></i> Главная</li></a>
                <a href="{% url 'about' %}"><li><i class="fa-solid fa-person"></i> Обо мне</li></a>
                {% if request.user.is_authenticated %}
                <li class="authorization">{{ user.username }} | <a href="{% url 'logout' %}">Выйти</a></li>
                {% else %}
                <li class="authorization"><a href="{% url 'register' %}">Регистрация | </a><a href="{% url 'login' %}">Вход</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>