{% extends 'news/layout.html' %}
{% load split_tags %}


{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="main">
        <div>
            <h4 class="title-detail">{{ title }}</h4>
        </div>
        <div class="content">
            <div class="content-text">

                {% if request.user.is_authenticated %}
                    {% with text|split:"\n" as line %}
                        {% for i in line %}
                            <p class="news-line">{{ i }}</p>
                        {% endfor %}
                    {% endwith %}
                {% else %}
                    <h4 class="news-line"><a href="{% url 'login' %}">Пройдите авторизацию</a></h4>
                {% endif %}
            </div>
            <div class="photo-detail"><img class="photo-detail-img" src="{{ photo }}" alt="Фото"></div>
        </div>
    </div>
{% endblock %}